### Keys ###
*key.json

### Data ###
data/
!data/img/christies/s128/photos_and_prints/*.jpg
*.csv
*.xlsx
*.xls
*.json
*.png

### Random Ignores ###
notes/**

### Library ###
papers/

### Python ###
.python-version

### Writing ###
*.pdf
