### Keys ###
*key.json

### Data ###
data/
*.csv
*.xlsx
*.xls
*.json
*.png

results/

### Random Ignores ###
.todo

### Library ###
papers/

### Python ###
.python-version
__pycache__/

### Writing ###
*.pdf
*.tex
paper.html
texput.log
tex/**
plan.md
schedule.md
